/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* Base style or utilities*/
body {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(255, 255, 255);
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.container {
    width: auto;
    height: auto;
    border-radius: 5px;
    margin-top: 50px;
}

.invisible {
    width: 80%;
    height: 100px;
    border-radius: 5px;
}

/* ----------------------
        First Part 
---------------------- */
.banner-part {
    display: flex;
    background-color: black;
    border-radius: 5px;
}

.banner {
    margin: 111px 106px;
    width: 531px;
    height: 424px;
    margin-right: 10px;
}

.headline {
    font-weight: 700;
    font-size: 70px;
    color: #FFFFFF;
    margin: 0;
    line-height: 80px;
}

.caption-paragraph {
    width: 506px;
    height: 78px;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    margin-bottom: 30px;
}

.watch-link {
    width: 187px;
    height: 56px;
    padding: 16px 25px;
    gap: 10px;
    color: #FFFFFF;
    background-color: #DD0000;
    border-radius: 5px;
    text-decoration: none;
}

.banner-image {
    margin-top: 33px;
    margin-left: 24px;
    margin-right: 79px;
    margin-bottom: 0;
    width: 581px;
    height: 613px;
}

.banner-image img {
    width: 100%;
    height: 100%;
}



/* ----------------------
        Second Part 
---------------------- */
.second-part {
    display: flex;
    column-gap: 20px;
}

/* left side */
.left-side {
    background-color: #161616;
    width: 320px;
    height: 360px;
    border-radius: 10px;
}

.buttons {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    align-content: space-around;
    justify-content: center;
}

.buttons button {
    margin-left: 50px;
    margin-top: 30px;
    margin-right: 50px;
    margin-bottom: 30px;
    width: 200px;
    height: 60px;
    border: none;
    border-radius: 10px;
}

.color-1 {
    color: #FFFFFF;
    background-color: #DD0000;
}

.color-2 {
    color: #161616;
    background-color: #FFFFFF;
}

/* right side */
.right-side {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 24px;
    grid-row-gap: 24px;
}

.transfer {
    border-radius: 10px;
    width: 312px;
    border: 1px solid rgba(218, 216, 216, 0.225);
    filter: drop-shadow(0px 5.34229px 13.3557px rgba(0, 0, 0, 0.05));
}

.transfer .transfer-picture img {
    width: 100%;
    height: 175px;
}

.transfer-detail {
    padding: 15px 15px;
}

.transfer-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fa-regular {
    font-size: 14px;
}

/* This button will only show in Tablet form of this website */
.invisible .tablet-button {
    margin-top: 15px;
    margin-left: 35%;
    width: 200px;
    height: 60px;
    border: none;
    border-radius: 10px;
    font-size: 25px;
    visibility: hidden;
}

/* ----------------------
        Footer Part 
---------------------- */
footer {
    margin-top: 70px;
    background-color: #161616;
    padding-top: 2em;
    height: 15em;
    margin-bottom: 0;
}

footer h1 {
    text-align: center;
    color: #FFFFFF;
}

footer hr {
    width: 1320px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin-bottom: 30px;
}

footer div {
    padding: 0 20%;
    display: flex;
    justify-content: space-around;
}

footer div a {
    color: #FFFFFF;
    text-decoration: none;
}

footer .paragraph {
    color: #FFFFFF;
    text-align: center;
}

footer .paragraph a {
    padding: 0 20px;
    justify-content: space-around;
}

/* ------------------------------------------
        Responsive part / Media Queries
------------------------------------------ */

/* --------------------
     Mobile Devices 
-------------------- */
@media only screen and (max-width: 688px) {
    .container {
        width: 100%;
        margin: 0;
    }

    .banner-part {
        flex-direction: column;
    }

    .banner {
        margin: 5px 10px;
        width: 100%;
        height: 100%;
        margin-right: 10px;
    }

    .headline {
        font-weight: 700;
        font-size: 40px;
        line-height: 50px;
        text-align: center;
    }

    .caption-paragraph {
        text-align: center;
        width: 300px;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-weight: 400;
        font-size: 16px;
    }

    .watch-link {
        margin-left: 30%;
    }

    .banner-image {
        margin-top: 30px;
        margin-left: 0;
        margin-right: 0;
        width: 100%;
        height: 300px;
    }

    .second-part {
        flex-direction: column;
    }

    .left-side {
        background-color: #ffffff;
        width: 100%;
        height: 250px;
    }

    .buttons {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        margin-left: 5%;
        width: 90%;
        align-items: center;
        row-gap: 20px;
    }

    .buttons button {
        margin: 0;
        width: 70%;
        height: 60px;
        margin: 30 10px;
        border: 1px solid black;
    }

    .buttons a {
        margin-left: 30%;
        width: 100%;
    }

    /* right side */
    .right-side {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 0;
        grid-row-gap: 10px;
        justify-items: center;
    }

    .transfer {
        border-radius: 10px;
        width: 312px;
        border: 1px solid rgba(218, 216, 216, 0.225);
        filter: drop-shadow(0px 5.34229px 13.3557px rgba(0, 0, 0, 0.05));
    }

    footer {
        margin-top: 0px;
        width: 100%;
        height: 100%;
    }


    footer div {
        flex-direction: column;
        align-items: center;
        text-decoration: none;
    }

    footer .paragraph a {
        margin-block-end: 0;
    }
}

/* ---------------------
     Tablet Devices 
--------------------  */
@media only screen and (max-width: 992px) and (min-width: 689px) {
    body {
        width: 100%;
    }

    .container {
        width: 100%;
        margin: 0;
    }

    /* ----------------------
        First Part 
---------------------- */
    .banner-part {
        border-radius: 5px;
        width: 100%;
    }

    .banner {
        margin: 5px 20px;
        width: 50%;
        height: 50%;
        margin-right: 0;
    }

    .headline {
        font-weight: 700;
        font-size: 40px;
        line-height: 50px;
    }

    .caption-paragraph {
        width: 100%;
        height: 78px;
        margin-bottom: 80px;
    }

    .watch-link {
        padding: 16px 25px;
        gap: 10px;
    }

    .banner-image {
        margin-top: 0px;
        margin-left: 0px;
        margin-right: 0px;
        width: 100%;
        height: 613px;
    }

    .banner-image img {
        width: 100%;
        height: 100%;
    }

    /* ----------------------
        second Part 
---------------------- */

    .second-part {
        flex-direction: column;
    }

    .left-side {
        background-color: #ffffff;
        display: flex;
        width: 100%;
        height: 100%;
    }

    .buttons {
        padding: 10px 10%;
        display: flex;
        gap: 10%;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .buttons button {
        margin: 0;
        top: 50%;
        left: 50%;
        font-weight: 900px;
        border: 1px solid black;
    }

    /* right side */
    .right-side {
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 24px;
        grid-row-gap: 24px;
    }

    .transfer {
        margin-left: 8%;
    }

    .invisible .tablet-button {
        visibility: visible;
    }

    footer div {
        padding: 0 5px;
        justify-content: space-around;
    }

    footer .footer-description {
        width: 100%;
        margin-left: 0px;
    }

    footer div a {
        white-space: nowrap;
        margin-left: 0px;
    }
}